
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400;700;900&display=swap');

/**color list- if one color needs to be changed can be done from here rather editing entire code **/
:root {
    --primary-color: #2563EB;
    --bg-color: white;
    --section-bg-color: #F3F4F6;

}

/** Upper import link and lower body part is taken from google fonts **/
body {
    font-family: 'Noto Sans JP', sans-serif;
}

/** for spaces **/
hr {
    margin: 2rem;
}

/**container**/
.container {
    padding: 0rem 1rem;
}

/** "." is used to call a class**/
.container-center {
    max-width: 600px;
    text-align: center;
    margin: auto;
}

/** Links**/
.link {
    box-sizing: border-box;
    text-decoration: none;
    padding: 0.5rem 1rem;
}

/** 0.5rem: Top & Bottom, 1rem: Left & Right **/

.link-primary {
    background-color: var(--primary-color);
    border-radius: 0.5rem;
    text-align: center;
    color: var(--bg-color);
    /**display: block;**/
    max-width: 130px;
    margin: 1rem 1rem 1rem 0rem;
}

.link-secondary {
    color: var(--primary-color);
    border-radius: 0.5rem;
    text-align: center;
    border: 1px solid var(--primary-color);
    /**display: block;**/
    max-width: 130px;
    margin: 1rem 1rem 1rem 0rem;
}

.list-non-bullet {
    list-style: none;
    padding-inline-start: 0px;
}

.list-item-inline {
    display: inline;
    padding: 0rem 1rem;
}

.navigation {
    background-color: var(--primary-color);
    color: var(--bg-color);
    border-bottom-left-radius: 2rem;
    padding: 1rem;
}

.navigation .nav-brand {
    font-weight: bold;
    font-size: 2rem;
}

.navigation .nav-pills {
    text-align: right;
}

.navigation .link {
    color: var(--link);
    font-size: 1.25rem;
}

.navigation .link-active {
    font-weight: bold;
    text-decoration: underline;
}


.hero {
    padding: 3rem;
    padding-top: 3rem;
    text-align: center;
}

.hero .hero-img {
    max-width: 80%;
    width: 500px;
    display: block;
    margin: auto;
}
.hero .hero-blog-img {
    max-width: 80%;
    width: 250px;
    display: block;
    margin: auto;
}

.hero .hero-heading {
    text-align: center;
    padding-top: 1rem;
    color: var(gray)
}

.hero .heading-inverted {
    color: var(--primary-color);
}


.section {
    padding: 2rem;
}

.section h1 {
    text-align: center;
}

.ow {
    background-color: var(--section-bg-color);
}

.footer {
    background-color: var(--primary-color);
    padding: 2rem 1rem;
    text-align: center;
    color: var(--bg-color);
    border-top-right-radius: 2rem;
}

.footer .link {
    color: white;
}

.footer .footer-header {
    font-weight: bold;
    font-size: large;
}

.footer ul {
    padding-inline-start: 0px;
}

.ol {
    padding: 5rem;
}