@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400;700;900&display=swap');

/**color list- if one color needs to be changed can be done from here rather editing entire code **/
:root {
    --primary-color: #2563EB;
    --bg-color: white;
    --section-bg-color: #DBEAFE;

}

/** Upper import link and lower body part is taken from google fonts **/
body {
    font-family: 'Noto Sans JP', sans-serif;
}

/** for spaces **/
hr {
    margin: 2rem;
}

/**container**/
.container {
    padding-top: 0.5rem;
    padding-bottom: 1.7rem;
}

/** "." is used to call a class**/
.container-center {
    max-width: 600px;
    text-align: center;
    margin: 1rem auto;
}

.ow {
    background-color: var(--section-bg-color);
    /* padding: 1.5rem 1rem; */
    border-radius: 1rem;
    /* margin: 1rem auto; */
}

/** Links**/
.link {
    box-sizing: border-box;
    text-decoration: none;
    padding: 0.5rem 1rem;
}

/** 0.5rem: Top & Bottom, 1rem: Left & Right **/

.link-primary {
    background-color: var(--primary-color);
    border-radius: 0.5rem;
    text-align: center;
    color: var(--bg-color);
    max-width: 130px;
}

.link-secondary {
    color: var(--primary-color);
    border-radius: 0.5rem;
    text-align: center;
    border: 1px solid var(--primary-color);
    max-width: 130px;
}

.list-non-bullet {
    list-style: none;
    padding-inline-start: 0px;
}

.list-item-inline {
    display: inline;
}

.navigation {
    background-color: var(--primary-color);
    color: var(--bg-color);
    border-bottom-left-radius: 2rem;
    padding: 1rem;
}

.navigation .nav-brand {
    font-weight: bold;
    font-size: 2rem;
}

.navigation .nav-pills {
    text-align: right;
}

.navigation .link {
    color: var(--link);
    font-size: 1.25rem;
}

.navigation .link-active {
    font-weight: bold;
    text-decoration: underline;
}


.hero {
    padding: 1rem;
    padding-top: 3rem;
    text-align: center;
}

.hero .hero-img {
    max-width: 80%;
    width: 500px;
    display: block;
    margin: auto;
    height: 250px;
}

.blog-img {
    display: block;
    margin: auto;
    height: 300px;
}

.hero .hero-heading {
    text-align: center;
    padding-top: 1rem;
    color: var(gray)
}

.hero .heading-inverted {
    color: var(--primary-color);
}


.section {
    padding: 2rem;
}

.section h1 {
    text-align: center;
}

.footer {
    background-color: var(--primary-color);
    padding: 1rem;
    margin-top: 3rem;
    text-align: center;
    color: var(--bg-color);
    border-top-right-radius: 2rem;
}

.footer .link {
    color: white;
}

.footer .footer-header {
    font-weight: bold;
    font-size: large;
}

.footer ul {
    padding-inline-start: 0px;
    margin: auto;
}

.ol {
    padding: 5rem;
}

.various-type {
    margin: 1rem;
    font-weight: 700;
}

content {
    display: block;
    width: 60%;
    ;
    margin: auto;
    text-align: justify;
    font-size: 1.25rem;
}

.info-tag {
    background-color:rgba(0, 0, 255, 0.158);
    padding: 7px;
    border-radius: 10px;
    margin-left: 10px;
}
.portfolio-class{
    margin: 1rem;
}

@media only screen and (max-width:768px) {
    .nav-brand{
        margin-bottom: 2rem;
        text-align: center;
    }
    ul {
        display: contents;
    }
    .nav-pills{
        display: flex;
        justify-content: center;
    }
    .portfolio-class .info-tag {
        display: inline-block;
        margin: 0.2rem;
    }
}

@media only screen and (max-width:375px) {
    .various-type {
        display: block;
    }
}